<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Color Id</th>
            <th>Color Name</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let color of colors">
            <td>{{color.colorId}}</td>
            <td>{{color.colorName}}</td>
    
        </tr>
    </tbody>
    
</table>