<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<!-- <table *ngIf="dataLoaded==true" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Color Id</th>
            <th>Color Name</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let color of colors">
            <td>{{color.colorId}}</td>
            <td>{{color.colorName}}</td>
    
        </tr>
    </tbody>
    
</table> -->

<div class="form-group">
    <label *ngIf="dataLoaded==true" for="color">Colors</label>
    <select name="color" id="filterText" [(ngModel)]="filterText" class="form-control">
        <option value="" routerLink = "/cars" selected>All Colors</option>
        <option *ngFor="let color of colors" 
        [value]="color.colorId" 
        routerLink = "/cars/color/{{color.colorId}}">{{color.colorName}}</option>
    </select>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Color Filter</label>
    <input type="email" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Pick a color">
  </div>
<div>{{filterText}}</div>
<ul *ngIf="dataLoaded==true" class="list-group"><h3 style="text-align: center;">Colors</h3>
    <li [class]="getAllColorClass()" routerLink = "/cars">All Colors</li>
    <li (click)="setCurrentColor(color)"
    routerLink = "/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | colorFilterPipe:filterText" 
    [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
</ul>