<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="#"><img
        src="https://user-images.githubusercontent.com/51466724/113584660-d66e8d80-9633-11eb-9e96-9fcabaad9d14.png"
        alt="Dream Cars" height="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cars">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentals/list">Rentals</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Listing
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/cars/list">>Car List</a></li>
            <li><a class="dropdown-item" routerLink="/colors/list">>Color List</a></li>
            <li><a class="dropdown-item" routerLink="/brands/list">>Brand List</a></li>
            <li><a class="dropdown-item" routerLink="/customers">>Customer List</a></li>
            <li><a class="dropdown-item" routerLink="/rentals">>Rental List</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div *ngIf="!isAuthenticated()">
        <button class="btn btn-primary mybtn" routerLink="/login">Log-in</button>
        <button style="margin-left: 10px;" class="btn btn-primary mybtn" routerLink="/register">Register</button>
      </div>
      <div *ngIf="isAuthenticated()">
        <div class="nav-item dropdown">
          <a style="color: whitesmoke;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i style="margin-right: 10px; font-size: 1.2rem;" class="fas fa-user-circle"></i><strong
              *ngIf="user">{{user.firstName}} {{user.lastName}}</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="profile"><i style="margin-right: 10px;"
                  class="fas fa-users-cog"></i>Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="profile"><i style="margin-right: 10px;"
                  class="fa fa-shopping-cart"></i>Orders</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="cards"><i style="margin-right: 10px;" class="fas fa-cogs"></i>My
                Cards</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="cards"><i style="margin-right: 10px;"
                  class="fas fa-cogs"></i>Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logOut()"><i style="margin-right: 10px;"
                  class="fas fa-sign-out-alt"></i>Log-Out</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>
<div class="ftco-blocks-cover-1">
  <div class="ftco-cover-1 overlay innerpage" style="background-image: url('https://user-images.githubusercontent.com/51466724/113587915-22bbcc80-9638-11eb-86d6-5d5f8fef0379.jpg')">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center">
          <h1>WELCOME TO DREAM CARS</h1>
          <p>You are the right place for find the car in your dream.</p>
        </div>
      </div>
    </div>
  </div>
</div>