<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table table-striped table-hover">
    <thead class="table-primary">
        <tr>
            <th>Brand Id</th>
            <th>Brand Name</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands">
            <td>{{brand.brandId}}</td>
            <td>{{brand.brandName}}</td>
        </tr>
    </tbody>
    
</table>