<div class="container" style="margin-top:20px ;">
  <div class="table-responsive-md">
    <table *ngIf="dataLoaded==true" class="table table-striped table-hover table-bordered">
      <thead>
          <tr>
              <th>Brand</th>
              <th>Color</th>
              <th>Model Year</th>
              <th>Daily Price</th>
              <th>Description</th>
              <th>Findex</th>
              <th>Function</th>
              
    
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let car of cars">
              <td>{{car.brandName}}</td>
              <td>{{car.colorName}}</td>
              <td>{{car.modelYear}}</td>
              <td>{{car.dailyPrice}}</td>
              <td>{{car.description}}</td>
              <td>{{car.findexPoint}}</td>
              <td *ngIf="isAuthenticated()"><app-rental></app-rental></td>
              <td *ngIf="!isAuthenticated()">You need log-in </td>
                <!-- <td><button routerLink="/rental/{{car.carId}}" type="button" class="btn btn-success">Rent</button></td>
         -->
          </tr>
      </tbody>
    </table>
  </div>
<hr>
</div>

<div class="container" style="margin-bottom: -300px ;">
  <h3 class="d-flex justify-content-center">CAR DETAILS</h3>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button *ngFor="let image of carImages;let i = index" type="button" data-bs-target="#carouselExampleIndicators" attr.data-bs-slide-to="{{i}}" [class]="getButtonClass(image)" aria-current="true" aria-label="Slide 1"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" [class]="getButtonClass(image)" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" [class]="getButtonClass(image)" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" [class]="getButtonClass(image)" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner">
      <div *ngFor="let image of carImages" [class]="getCurrentImageClass(image)">
        <img *ngIf="image.imagePath == null" src="{{ carImageDefault }}" class="d-block w-100" width="640" height="480"  alt="Image">
        <img *ngIf="image.imagePath != null" src="{{imageBasePath}}{{image.imagePath}}" class="d-block w-100" width="640" height="480"  alt="Image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

  




<!-- <h3>Rental History</h3>  
    <table *ngIf="dataLoaded==true" class="table table-striped table-hover table-bordered">
      <thead>
          <tr>
              <th>Rental Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Company Name</th>
              <th>Rent Date</th>
              <th>Return Date</th>
              
  
          </tr>
      </thead> -->
      <!-- <tbody>
          <tr *ngFor="let customer of customers">
              <td>{{rental.customerId}}</td>
              <td>{{rental.firstName}}</td>
              <td>{{rental.lastName}}</td>
              <td>{{rental.companyName}}</td>
              <td>{{rental.rentDate}}</td>
              <td>{{rental.returnDate}}</td>
              
      
          </tr>
      </tbody> -->

    <!-- <img *ngFor="let number of carImages;let i = index" src="" alt="{{i}}"> -->
    
<!-- 


  <div>
    <ul *ngFor="let car of cars" class="list-group list-group-flush">
      <li class="list-group-item">Brand: {{car.brandName}}</li>
      <li class="list-group-item">Color: {{car.colorName}}</li>
      <li class="list-group-item">Model Year: {{car.modelYear}}</li>
      <li class="list-group-item">Daily Price: {{car.dailyPrice}}</li>
    </ul>
  </div> -->

  