<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
<body>

    <main>

        <div class="container site-section mb-5">
            <div class="row justify-content-center text-center">
              <div class="col-7 text-center mb-5">
                <h2>How it works</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>
              </div>
            </div>
            <div class="how-it-works d-flex">
              <div class="step">
                <span class="number"><span>01</span></span>
                <span class="caption">Time &amp; Place</span>
              </div>
              <div class="step">
                <span class="number"><span>02</span></span>
                <span class="caption">Car</span>
              </div>
              <div class="step">
                <span class="number"><span>03</span></span>
                <span class="caption">Details</span>
              </div>
              <div class="step">
                <span class="number"><span>04</span></span>
                <span class="caption">Checkout</span>
              </div>
              <div class="step">
                <span class="number"><span>05</span></span>
                <span class="caption">Done</span>
              </div>
      
            </div>
          </div>






          <section id="featured-services" class="featured-services">
            <div class="container" data-aos="fade-up">
      
              <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                  </div>
                </div>
      
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                  </div>
                </div>
      
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                  </div>
                </div>
      
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                  </div>
                </div>
      
              </div>
      
            </div>
          </section>





      
          <!-- <div class="container marketing">
            <div style="text-align: center;">
                <h1>Kiralamak İçin Ne Yapmalısınız?</h1>
            </div>
            <hr>
            <div class="row" style="margin-top: 50px;">
              <div class="col-lg-4">
                  <img class="bd-placeholder-img rounded-circle my-img" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIRkAqIEloC8FsS4KC7X_XRlTPzU0H4woB_Q&usqp=CAU" alt="">
                <h2>Favori Arabanızı Seçin</h2>
                <p>Filtreleme imkanı ile hayalinizdeki arabayı bulun.</p>
              </div>
              <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle my-img" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtCu7088WlYB42NSINeGbKAsIqHy8wiKGF_g&usqp=CAU" alt="">
                <h2>Kiralayacağınız Tarihi Seçin</h2>
                <p>Kiralayacağınız tarihleri seçin ve ödemenizi yapın.</p>
              </div>
              <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle my-img" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5_a0HmmBnBQkgMFYc4dvHvfdJEiaYmR5UDQ&usqp=CAU" alt="">
                <h2>Arabanıza Kavuşun</h2>
                <p>Keyifli sürüşler dileriz.</p>
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Aradığınız aracı rahatlıkla bulabilirsiniz.</h2>
                <p class="lead">Çok para harcamadan istediğiniz arabaya kolaylıkla sahip olabilirsiniz.</p>
              </div>
              <div class="col-md-5">
                  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600" src="https://img.freepik.com/free-vector/transport-renting-website-automobile-buying-man-searching-used-auto-internet_335657-2496.jpg?size=626&ext=jpg" alt="">
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Tatilde arabaya mı ihtiyacınız var?</h2>
                <p class="lead">Kiraladığınız aracı ayağınıza kadar getirip size teslim ederiz.</p>
                <span class="text-muted">Mutlu sürüşler dileriz!</span>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAuHSYG0bPK9CcezsnaLtqFSJuwyUFjdxw2g&usqp=CAU" alt="">
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Ve son olarak, müşteri memnuniyeti</h2>
                <p class="lead">Temiz ve güvenilir kiralama olanağı ile mutluluğunuzu en yüksek seviyede tutmaya odaklanıyoruz.</p>
              </div>
              <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="http://unblast.com/wp-content/uploads/2020/09/Car-Rent-Vector-Illustration.jpg" alt="">
              </div>
            </div>
          </div> -->
    </main>  
</body>