<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
<body>

    <main>
      
      <div class="container marketing">
        <div style="text-align: center;">
            <h1>Kiralamak İçin Ne Yapmalısınız?</h1>
        </div>
        <hr>
        <div class="row" style="margin-top: 50px;">
          <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle my-img" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIRkAqIEloC8FsS4KC7X_XRlTPzU0H4woB_Q&usqp=CAU" alt="">
            <h2>Favori Arabanızı Seçin</h2>
            <p>Filtreleme imkanı ile hayalinizdeki arabayı bulun.</p>
          </div>
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle my-img" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtCu7088WlYB42NSINeGbKAsIqHy8wiKGF_g&usqp=CAU" alt="">
            <h2>Kiralayacağınız Tarihi Seçin</h2>
            <p>Kiralayacağınız tarihleri seçin ve ödemenizi yapın.</p>
          </div>
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle my-img" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5_a0HmmBnBQkgMFYc4dvHvfdJEiaYmR5UDQ&usqp=CAU" alt="">
            <h2>Arabanıza Kavuşun</h2>
            <p>Keyifli sürüşler dileriz.</p>
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Aradığınız aracı rahatlıkla bulabilirsiniz.</h2>
            <p class="lead">Çok para harcamadan istediğiniz arabaya kolaylıkla sahip olabilirsiniz.</p>
          </div>
          <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600" src="https://img.freepik.com/free-vector/transport-renting-website-automobile-buying-man-searching-used-auto-internet_335657-2496.jpg?size=626&ext=jpg" alt="">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Tatilde arabaya mı ihtiyacınız var?</h2>
            <p class="lead">Kiraladığınız aracı ayağınıza kadar getirip size teslim ederiz.</p>
            <span class="text-muted">Mutlu sürüşler dileriz!</span>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAuHSYG0bPK9CcezsnaLtqFSJuwyUFjdxw2g&usqp=CAU" alt="">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Ve son olarak, müşteri memnuniyeti</h2>
            <p class="lead">Temiz ve güvenilir kiralama olanağı ile mutluluğunuzu en yüksek seviyede tutmaya odaklanıyoruz.</p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="http://unblast.com/wp-content/uploads/2020/09/Car-Rent-Vector-Illustration.jpg" alt="">
          </div>
        </div>
      </div>
    </main>  
</body>