<div *ngIf="car">
  <div class="findex-control" *ngIf="car.findexPoint<=userFindex || !isAuthenticated()">
    <button style="width: 100%;" *ngIf="rentable" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="mybtn btn btn-primary">Rent</button>
    <div style="margin-top: 10px;" *ngIf="!rentable" class="alert alert-danger">
      This car isn't available
    </div>
  </div>
<div style="margin-top: 10px;" *ngIf="car.findexPoint>userFindex" class="alert alert-danger">
  Your Findex point isn't enough to rent this car.
</div>
<div *ngIf="car" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{car.colorName}} | {{car.brandName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="daily-price">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="daily-price" class="form-label">Daily Price:</label>
            </div>
            <div class="col-md-9">
              <input [value]="car.dailyPrice | currency" disabled="disabled" type="text" class="form-control" id="daily-price" >
            </div>
          </div>
        </div>
        <div class="rent-date">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="rent-date" class="form-label">Rent Date :</label>
            </div>
            <div class="col-md-9">
              <input (change)="onChangeEvent($event); checkReturnDate()" min="{{minDate}}" [(ngModel)]="rentDate" type="date" class="form-control" id="rent-date" placeholder="Select a day.">
            </div>
          </div>
        </div>
        <div class="return-date">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="return-date" class="form-label">Return Date :</label>
            </div>
            <div class="col-md-9">
              <input disabled='{{!firstDateSelected}}' min="{{minDate}}" max="{{maxDate}}" [(ngModel)]="returnDate" type="date" class="form-control" id="return-date" placeholder="Select a day.">
            </div>
          </div>
        </div>
        <div class="customers">
          <div class="row">
            <div class="col-md-3">
              Customers :
            </div>
            <div class="col-md-9">
              <select  #selectCustomer (change)="setCustomerId(selectCustomer.value)" class="form-select" aria-label="Default select example">
                <option selected>Select A Customer</option>
                <option *ngFor="let customer of customers" [value]="customer.customerId">{{customer.companyName}}</option>
              </select>
          </div>
        </div>
        <div *ngIf="returnDate" class="totalPrice row">
          <div class="col-md-3 mt-3">
            Total Price  :
          </div>
          <div class="col-md-9">
            <input type="text" disabled="disabled" [value]="calculatePrice() | currency" class="form-control mt-3">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button style="border-radius: 6px;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="addRental()" type="button" class="mybtn btn btn-primary" data-bs-dismiss="modal">Rent</button>
      </div>
    </div>
  </div>
</div>




<!-- <button *ngIf="rentable" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-primary">Kirala</button>
<div style="margin-top: 10px;" *ngIf="!rentable" class="alert alert-danger">
  Bu araç zaten kiralanmış
</div>


<div *ngIf="car" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{car.colorName}} | {{car.brandName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div *ngIf="car" class="modal-body">
        <div class="daily-price">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="daily-price" class="form-label">Günlük Ücret:</label>
            </div>
            <div class="col-md-9">
              <input [value]="car.dailyPrice | currency" disabled="disabled" type="text" class="form-control" id="daily-price" >
            </div>
          </div>
        </div>
        <div class="rent-date">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="rent-date" class="form-label">Başlangıç :</label>
            </div>
            <div class="col-md-9">
              <input (change)="onChangeEvent($event)" min="{{minDate}}" [(ngModel)]="rentDate" type="date" class="form-control" id="rent-date" placeholder="Bir gün seçiniz.">
            </div>
          </div>
        </div>
        <div class="return-date">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="return-date" class="form-label">Bitiş :</label>
            </div>
            <div class="col-md-9">
              <input disabled='{{!firstDateSelected}}' min="{{minDate}}" max="{{maxDate}}" [(ngModel)]="returnDate" type="date" class="form-control" id="return-date" placeholder="Bir gün seçiniz.">
            </div>
          </div>
        </div>
        <div class="customers">
          <div class="row">
            <div class="col-md-3">
              Müşteriler :
            </div>
            <div class="col-md-9">
              <select #selectCustomer (change)="setCustomerId(selectCustomer.value)" class="form-select" aria-label="Default select example">
                <option selected>Lütfen bir müşteri seçin</option>
                <option *ngFor="let customer of customers" [value]="customer.customerId">{{customer.companyName}}</option>
              </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button *ngIf="rentable"  (click)="addRental()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Kirala</button>
      </div>
    </div>
  </div>
</div> -->



<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div  class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="car" class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button (click)="addRental()" type="button" class="btn btn-primary">Kirala</button>
      </div>
    </div>
  </div>
</div> -->