<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Rental Id</th>
            <th>Brand Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rent Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.rentalId}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.firstName}}</td>
            <td>{{rental.lastName}}</td>
            <td>{{rental.returnDate}}</td>
            <td>{{rental.returnDate}}</td>
    
        </tr>
    </tbody>
    
</table> -->
<!-- 
<div class="d-grid gap-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
      Aracı Kirala
    </button>
</div>
  

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
 
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Car ID</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input" disabled>
                </div>
            </div>           
            <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Rent Date</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="" id="example-datetime-local-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Return Date</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="" id="example-date-input">
                </div>
            </div>
              
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div> -->


<button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-primary">Kirala</button>
<div *ngIf="car" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{car.colorName}} | {{car.brandName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="daily-price">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="daily-price" class="form-label">Günlük Ücret:</label>
            </div>
            <div class="col-md-9">
              <input [value]="car.dailyPrice | currency" disabled="disabled" type="text" class="form-control" id="daily-price" >
            </div>
          </div>
        </div>
        <div class="rent-date">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="rent-date" class="form-label">Başlangıç :</label>
            </div>
            <div class="col-md-9">
              <input (change)="onChangeEvent($event)" min="{{minDate}}" [(ngModel)]="rentDate" type="date" class="form-control" id="rent-date" placeholder="Bir gün seçiniz.">
            </div>
          </div>
        </div>
        <div class="return-date">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="return-date" class="form-label">Bitiş :</label>
            </div>
            <div class="col-md-9">
              <input disabled='{{!firstDateSelected}}' min="{{minDate}}" max="{{maxDate}}" [(ngModel)]="returnDate" type="date" class="form-control" id="return-date" placeholder="Bir gün seçiniz.">
            </div>
          </div>
        </div>
        <div class="customers">
          <div class="row">
            <div class="col-md-3">
              Müşteriler :
            </div>
            <div class="col-md-9">
              <select #selectCustomer (change)="setCustomerId(selectCustomer.value)" class="form-select" aria-label="Default select example">
                <option selected>Lütfen bir müşteri seçin</option>
                <option *ngFor="let customer of customers" [value]="customer.customerId">{{customer.companyName}}</option>
              </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button (click)="addRental()" type="button" class="btn btn-primary">Kirala</button>
      </div>
    </div>
  </div>
</div>