<!-- Button trigger modal -->
<button style="color: blue; margin-left: 4px;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Parola yenile
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Parola Yenile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="passwordUpdateForm">
                <div class="mb-3">
                    <label for="oldPasword" class="form-label">Eski Parolanızı Giriniz</label>
                    <input formControlName="oldPassword" type="password" class="form-control" id="oldPasword" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Yeni Parolanızı Giriniz</label>
                    <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button (click)="changePassword()" type="button" class="btn btn-primary mybtn" data-bs-dismiss="modal">Onayla</button>
        </div>
      </div>
    </div>
  </div>