<app-navi></app-navi>
<div class="container-fluid" style="margin-top: 15px;">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>


<!-- <div class="container">
    <app-navi></app-navi>
    <div class="row">
      <div class="col-md-12">
        <br>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </div>
  </div> -->


<!-- <div class="container">
    <app-navi></app-navi>
    <div class="row">
        <div class="col-md-3">
            <app-color></app-color>
            <app-brand></app-brand>
            
        </div>  
        <div class="col-md-9">
            <router-outlet></router-outlet>

        </div>
        
    </div>

    
</div> -->

