<div class="container">
    <app-navi></app-navi>
    <div class="row">
        <app-rental></app-rental>
    </div>
    <div class="row">
        <app-car></app-car>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-color></app-color>
        </div>
        <div class="col-md-4">
            <app-brand></app-brand>
        </div>
        <div class="col-md-4">
            <app-customer></app-customer>
        </div>      
    </div>
    

    <router-outlet></router-outlet>
</div>

