<app-car-filter></app-car-filter>

<h4 style="text-align: center;"><b>CAR LIST</b></h4>
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="row" style="margin-top: 5px;" *ngIf="dataLoaded==true">
    <div *ngFor="let car of cars" class="card" style="width: 18rem;">
        <img src="{{imageBasePath}}{{car.imagePath}}" class="card-img-top" width="320" height="200" alt={{car.description}}>
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center">{{car.carName}}</h5>
          <p class="card-text d-flex justify-content-center">{{car.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Brand: {{car.brandName}}</li>
          <li class="list-group-item">Color: {{car.colorName}}</li>
          <li class="list-group-item">Model Year: {{car.modelYear}}</li>
          <li class="list-group-item">Daily Price: {{car.description}}</li>
        </ul>
        <div class="card-body">
            <section style="float:left">
                <button routerLink="/cars/detail/{{car.carId}}" type="button" class="btn btn-primary">Details</button>
              </section>
              <section style="float: right">
                <button type="button" class="btn btn-primary">Rent</button>
              </section>
        </div>
      </div>
</div>
